<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New message</title>
</head>
<body>
    <h1>New Message</h1>
    <form method="post" action="/chats">
        <p>From : <input type="text" placeholder="Name of sender.." name="from"></p>
        <p>To : <input type="text" placeholder="Name of receiver.." name="to"></p>
        <p>Message : <textarea rows="4" cols="50"     name="msg">Please type your message here ...</textarea></p>
        <button>Send &#9993;</button>
    </form>
</body>
</html>